{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add Page
{% endblock %}

{% block body%}
    <div class="division">
        <form action="{% url 'encyclopedia:add' %}" method="POST">
            {% csrf_token %} 

            <!--
            {{form.as_p}}
                <input name="title" style="strip:True" required>
                <Textarea name="content" placeholder="Enter content in markdown" required></Textarea>
            -->
            <div>
                <h3>Title:</h3>
                {{form.title}}
            </div>

            <div>
                <h3>Content:</h3>
                {{form.content}}

            </div> 


            <input type="submit" value="SAVE">

        </form>
    <div>

{% endblock %}